<%- include ('../partials/header.ejs') %>
<h1>Update sale Details</h1>
<div class = 'update-sale-details'>
  <form action = "<%= baseURL %>/<%= sale.id %>?_method=PUT" method="POST">
    <input type = "text" name = 'date' value = "<%= sale.date %>" /> 
    <input type = "text" name = 'customerName' value = "<%= sale.customerName %>" /> 
    <input type = "text" name = 'amount' value = "<%= sale.amount %>" /> 
    <input type = "text" name = 'description' value = "<%= sale.description %>" /> 
    <input type = "text" name = 'salesPerson' value = "<%= sale.salesPerson %>" /> 
    <input type="submit" value="Save" />
  </form>
</div>
