<%- include ('../partials/header.ejs') %>
  <div class = 'container mytable'>
    <div class = 'row table-header'>
      <div class = 'col'>DATE</div>
      <div class = 'col'>CUSTOMER</div>
      <div class = 'col'>AMOUNT</div>
      <div class = 'col'>SALESPERSON</div>
    </div>
      <% for (let i = 0; i < sales.length; i++) { %>
        <a class = "text-decoration-none" href = "<%= baseURL %>/<%= sales[i].id %>">
          <% if (i % 2 === 0) { %>
            <div class = 'row table-row zebra'>
          <% } else { %>
            <div class = 'row table-row'>
          <% } %>
            <div class = 'col'><%= (sales[i].date).toLocaleDateString() %></div>
            <div class = 'col'><%= sales[i].customer.name %></div>
            <div class = 'col'><%= helper.stringToCurrency(sales[i].amount) %></div>
            <div class = 'col'><%= sales[i].employee.name %></div>
          </div>
        </a>
      <% } %>
  </div>
    <div class = "page">
    <ul class="pagination">
      <% if (pageNumber > 1) { %>
      <li class="page-item">
        <a class="page-link" href="/sales?page=<%=pageNumber - 1%>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
      <% } %>
      <li class="page-item"><a class="page-link"><%=pageNumber%></a></li>
      <% if (sales.length === 20) { %>
      <li class="page-item">
        <a class="page-link" href="/sales?page=<%=pageNumber + 1%>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <script>
  </script>
<%- include ('../partials/footer.ejs') %>

