<%- include ('../partials/header.ejs') %>
  <div class = 'container mytable'>
    <div class = 'row table-header'>
      <div class = 'col'>DATE</div>
      <div class = 'col'>CUSTOMER</div>
      <div class = 'col'>AMOUNT</div>
      <div class = 'col'>SALESPERSON</div>
    </div>
      <% for (let i = 0; i < sales.length; i++) { %>
        <a class = "text-decoration-none" href = "<%= baseURL %>/<%= sales[i].id %>">
          <% if (i % 2 === 0) { %>
            <div class = 'row table-row zebra'>
          <% } else { %>
            <div class = 'row table-row'>
          <% } %>
            <div class = 'col'><%= (sales[i].date).toLocaleDateString() %></div>
            <div class = 'col'><%= sales[i].customer.name %></div>
            <div class = 'col'><%= helper.stringToCurrency(sales[i].amount) %></div>
            <div class = 'col'><%= sales[i].employee.name %></div>
          </div>
        </a>
      <% } %>
  </div>
  <script>
  </script>
<%- include ('../partials/footer.ejs') %>

