<%- include ('../partials/header.ejs') %>
<div class = 'container'>
  <form action = "<%=baseURL%>" method = "post">
    <div class="form-outline mb-4">
      <label class="form-label" for="date">Date</label>
      <input class="form-control" type="date" name = "date" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="customer">Customer</label>
      <select class = "form-select" name="customer">
        <option selected></option>
        <% for (customer of customers) { %>
          <option value = "<%= customer.id %>"> <%= customer.name %> </option>
        <% } %>
      </select>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="employee">Sales Person</label>
      <select class = "form-select" name="employee">
        <option selected></option>
        <% for (employee of employees) { %>
          <option value = "<%= employee.id %>"><%= employee.firstName %> <%= employee.lastName %></option>
        <% } %>
      </select>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="amount">Amount</label>
      <input class="form-control" type="number" name = "amount" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="description">Description</label>
      <input class="form-control" type="text" name = "description" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create Sale</button>
      <a href = "<%=baseURL%>" >
      <button type="button" class="btn btn-outline-secondary">Cancel</button>
      </a>
    </div>
  </form>
</div>

<%- include ('../partials/footer.ejs') %>