<%- include ('../partials/header.ejs') %>
<div class = 'container'>
  <form action = "<%=baseURL%>" method = "post">
    <div class="form-outline mb-4">
      <label class="form-label" for="date">Date</label>
      <input class="form-control" type="date" name = "date" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="customer">Customer</label>
      <input class="form-control" list="customers" name="customer" placeholder="Type to search..." />
      <datalist id = "customers">
        <% for (customer of customers) { %>
          <option value = "<%= customer.name %>">
        <% } %>
      </datalist>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="employee">Sales Person</label>
      <input class="form-control" list="employees" name="employee" placeholder="Type to search..." />
      <datalist id = "employees">
        <% for (employee of employees) { %>
          <option value = "<%= employee.firstName %> <%= employee.lastName %>">
        <% } %>
      </datalist>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="amount">Amount</label>
      <input class="form-control" type="number" name = "amount" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="description">Description</label>
      <input class="form-control" type="text" name = "text" />
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Create Sale</button>
  </form>
</div>
<%- include ('../partials/footer.ejs') %>