<%- include ('../partials/header.ejs') %>
<div class = "container">
  <div class = "row>">
    <div class = "col-6">
      <h5>Details</h5>
        <div class = "details">
          <p>Sale Date: <%= (sale.date).toLocaleDateString() %> </p>
          <p>Customer: <a href = "/customers/<%= sale.customer.id %>"><%= sale.customer.name %> </a></p>
          <p>Amount: <%= helper.stringToCurrency(sale.amount) %> </p>
          <p>Description: <%= sale.description %> </p>
          <p>Contact Person: <a href = "/employees/<%= sale.employee.id %>"><%= sale.employee.name %> </a></p>
          <form action = "<%= baseURL %>/<%= sale.id %>?_method=DELETE" method="POST">
            <a class ='text-decoration-none' href = "<%= baseURL %>/<%= sale.id %>/edit">
              <button type="button" class="btn btn-outline-primary">Edit</button>
            </a>
            <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
      </div>
      <div class = "col-6">
      </div>
    </div>
  </div>
</div>  
<%- include ('../partials/footer.ejs') %>