<%- include ('../partials/header.ejs') %>
<div class = "container">
  <div class = "row">
    <div class = "col">
      <div class = "row-md">
      <h5>Details</h5>
      <div class = "details">
      <p>Name: <%= customer.name %> </p>
      <p>Phone: <%= customer.phone %> </p>
      <p>Email: <%= customer.email %> </p>
      <p>Address: <%= customer.address %> </p>
      <p>Contact: <%= customer.contactPerson %> </p>
      <form action = "<%= baseURL %>/<%= customer.id %>?_method=DELETE" method="POST">
        <a class ='text-decoration-none' href = "<%= baseURL %>/<%= customer.id %>/edit">
          <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
        </a>
        <% if (sales.length > 0) { %> 
          <span data-toggle="tooltip" data-placement="bottom" title="Can not delete a customer with linked sales">
            <button disabled type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
          </span>
        <% } else { %> 
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        <% } %>
      </form>
      </div>
      <div class = "row-md mt-3 mb-1">
        <h5>Customer Stats</h5>
        <div class = "details">
          <% if (sales.length === 0) { %>
          <p>No Sales<p>
          <% } else { %> 
          <p>Total Sales: <%= helper.stringToCurrency(totalSales) %></p>
          <p>Largest Sale: <a class = "no-underline" href = "/sales/<%= largestSale.id %>"><%=helper.stringToCurrency(largestSale.amount) + ' on ' + largestSale.date.toLocaleDateString() %></a></p>
          <p>Average Sale: <%= helper.stringToCurrency(averageSale) %></p>
          <div class="line"></div>
          <div class = "top">
            <p>Top Salesperson: </p>
            <a class = "no-underline" href = "/employees/<%= topSalesPerson.id %>"><p>&nbsp&nbsp&nbsp&nbsp <%= topSalesPerson.name %></p></a>
            <p>&nbsp&nbsp&nbsp&nbsp Sales: <%= helper.stringToCurrency(topSalesPerson.amount) %></p>
            <p>&nbsp&nbsp&nbsp&nbsp Sales Count: <%= topSalesPerson.saleCount %></p>
          </div>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
  <div class = "col">
    <div class = "container d-flex justify-content-between align-items-center p-0">
        <h5>Sales</h5>
        <a href = "/sales/new?customer=<%=customer.id%>">
          <button type="button" class="btn btn-sm btn-outline-secondary">New Sale</button>
        </a>
    </div>
    <div class = 'container mytable-small'>
      <div class = 'row table-header'>
        <div class = 'col'>DATE</div>
        <div class = 'col'>AMOUNT</div>
        <div class = 'col'>SALESPERSON</div>
      </div>
      <% for (let i = 0; i < sales.length; i++) { %>
        <a class = "text-decoration-none" href = "/sales/<%= sales[i].id %>">
          <% if (i % 2 === 0) { %>
            <div class = 'row table-row-small zebra'>
          <% } else { %>
            <div class = 'row table-row-small'>
          <% } %>
            <div class = 'col'><%= (sales[i].date).toLocaleDateString() %></div>
            <div class = 'col'><%= helper.stringToCurrency(sales[i].amount) %></div>
            <div class = 'col'><%= sales[i].employee.name %></div>
          </div>
        </a>
      <% } %>
    </div>
  </div>
</div>
<%- include ('../partials/footer.ejs') %>