<%- include ('../partials/header.ejs') %>
  <div class = 'container table'>
    <div class = 'row border font-weight-bold'>
      <div class = 'col'>NAME</div>
      <div class = 'col'>PHONE</div>
      <div class = 'col'>EMAIL</div>
    </div>
      <% for (employee of employees) { %>
        <a class = "text-decoration-none" href = "<%= baseURL %>/<%= employee.id %>">
          <div class = 'row border text-secondary'>
            <div class = 'col'><%= employee.firstName %> <%= employee.lastName %></div>
            <div class = 'col'><%= employee.phone %></div>
            <div class = 'col'><%= employee.email %></div>
          </div>
        </a>
      <% } %>
  </div>
  <script>
  </script>
<%- include ('../partials/footer.ejs') %>