<%- include ('../partials/header.ejs') %>
  <div class = 'container mytable'>
    <div class = 'row table-header'>
      <div class = 'col'>NAME</div>
      <div class = 'col'>PHONE</div>
      <div class = 'col'>EMAIL</div>
    </div>
      <% for (let i = 0; i < employees.length; i++) { %>
        <a class = "text-decoration-none" href = "<%= baseURL %>/<%= employees[i].id %>">
          <% if (i % 2 === 0) { %>
            <div class = 'row table-row zebra'>
          <% } else { %>
            <div class = 'row table-row'>
          <% } %>  
            <div class = 'col'><%= employees[i].firstName %> <%= employees[i].lastName %></div>
            <div class = 'col'><%= employees[i].phone %></div>
            <div class = 'col'><%= employees[i].email %></div>
          </div>
        </a>
      <% } %>
  </div>
  <script>
  </script>
<%- include ('../partials/footer.ejs') %>