<%- include ('../partials/header.ejs') %>
<div class = 'container'>
  <div class = 'row'>
  </div>
  <div class = 'row justify-content-center align-items-center'>
    <% for (employee of employees) { %>
      <div class = 'p-2 border bg-light'>
        <a href = "<%= baseURL %>/<%= employee.id %>" >
          <p> <%= employee.firstName %> <%= employee.lastName %> </p>
        </a>
    </div>
    <% } %>
  </div>
</div>
<%- include ('../partials/footer.ejs') %>