<%- include ('../partials/header.ejs') %>
<div class = "container">
  <div class = "row>">
    <p>Username: <%= employee.username %> </p>
  </div>
  <div class = "row>">
    <p>First Name: <%= employee.firstName %> </p>
  </div>
  <div class = "row>">
    <p>Last Name: <%= employee.lastName %> </p>
  </div>
  <div class = "row>">
    <p>Phone: <%= employee.phone %> </p>
  </div>
  <div class = "row>">
    <p>Email: <%= employee.email %> </p>
</div>
<div class = "row justify-content-around">
  <div class = "col">
    <a class ='text-decoration-none' href = "<%= baseURL %>/<%= employee.id %>/edit">
      <button type="button" class="btn btn-outline-primary">Edit</button>
    </a>
    <a class = 'text-decoration-none' href = "<%= baseURL %>">
      <button type="button" class="btn btn-outline-secondary">Cancel</button>
    </a>
  </div>
  <div class = "col-10">
    <form action = "<%= baseURL %>/<%= employee.id %>?_method=DELETE" method="POST">
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </form>
  </div>
</div>
<%- include ('../partials/footer.ejs') %>