<%- include ('../partials/header.ejs') %>
<h1>Update User Details</h1>
<div class = 'update-user-details'>
  <form action = "<%= baseURL %>/<%= user.id %>?_method=PUT" method="POST">
    <input type = "text" name = 'username' value = "<%= user.username %>" /> 
    <input type = "text" name = 'firstName' value = "<%= user.firstName %>" /> 
    <input type = "text" name = 'lastName' value = "<%= user.lastName %>" /> 
    <input type = "text" name = 'phone' value = "<%= user.phone %>" /> 
    <input type = "text" name = 'email' value = "<%= user.email %>" /> 
    <input type="submit" value="Save" />
  </form>
</div>
