<h1>User Details</h1>
<div class = "user-details">
  <p>Username: <%= user.username %> </p>
  <p>First Name: <%= user.firstName %> </p>
  <p>Last Name: <%= user.lastName %> </p>
  <p>Phone: <%= user.phone %> </p>
  <p>Email: <%= user.email %> </p>
</div>
<div class = "user-nav">
  <a href = "<%= baseURL %>/<%= user.id %>/edit">
    <button type = "button">Edit</button>
  </a>
  <form action = "<%= baseURL %>/<%= user.id %>?_method=DELETE" method="POST">
    <input type = "submit" value = "Delete">
  </form>
</div>
